[app]
data_path_prefix = "DATA-PATH-PREFIX"  # default: "/var/db/freedive"

[database]
url = "freedive.db"
pool_size = 5

[http]
enable = false
host = "localhost"
bind = "127.0.0.1"
port = 8080

[https]
enable = true
host = "localhost"
bind = "127.0.0.1"
port = 8443
keyfile = "tls.key"
certfile = "tls.crt"

[phoenix]
secret_key_base = "CHANGE-ME"

[pushover]
user_key = ""
api_token = ""
