PHX_SERVER=true
PHX_HOST="localhost"
BIND="0.0.0.0"
PORT=6443
SECRET_KEY_BASE="CHANGE-ME"
TLS_KEY_PATH="<%= @data_dir %>/tls.key"
TLS_CERT_PATH="<%= @data_dir %>/tls.crt"
DATABASE_PATH="<%= @data_dir %>/freedive.db"